<%= render "shared/header" %>

<div class="main">
  <div class="container">
    <div class="inner">
    
      <div class="inner-box">
        <div class="box-title">
          新着一覧
        </div>
        <div class="box-content">
          <ul class="list-items">
            <% @posts.each do |post| %>
              <%= render partial: "posts/post", locals: { post: post } %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="inner-box">
        <div class="box-title">
          ランキング
        </div>
        <div class="box-content">
          <ul class="list-items">
            <%# <% @posts.each do |post| %>
              <%# <%= render partial: "posts/post" %> %>
              <%# <%= render partial: "posts/post", locals: { post: post } %>
            <%# <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>