<%= render "shared/header" %>

<div class="main">
  <div class="container">
    <div class="article-section">
      <div class="article-box">
        <div class="box-title">
          <%= link_to "新着一覧", "#", class: "tab-name" %>
        </div>
        <div class="article-content">
          <ul class="list-items">
            <%# <% @posts.each do |post| %>
              <%= render partial: "posts/post" %>
              <%# <%= render partial: "posts/post", locals: { post: post } %>
            <%# <% end %>
          </ul>
        </div>
      </div>
      <div class="article-box">
        <div class="box-title">
          <%= link_to "ランキング", "#", class: "tab-name" %>
        </div>
        <div class="article-content">
          <ul class="list-items">
            <%# <% @posts.each do |post| %>
              <%= render partial: "posts/post" %>
              <%# <%= render partial: "posts/post", locals: { post: post } %>
            <%# <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>