<header>
  <div class="header-content">
    <div class="nav-left">
      <div class="header-title">
        <%= link_to "ジャンク広場", root_path, class: "title-logo" %>
      </div>
      <div class="search">
        <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </div>
    </div>

    <div class="nav-right">
      <ul class="nav-list-wide">
        <li><%= link_to "チャット作成", new_post_path, class: "nav-item" %></li>
        <li><%= link_to "質問投稿", "#", class: "nav-item" %></li>
        <li><%= link_to 'マイページ', "#", class: "nav-item" %></li>
        <li><%= link_to 'ログアウト', "#", method: :delete, class: "nav-item" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "nav-item" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "nav-item" %></li>
      </ul>
    </div>

    <div class="sp-menu">
      <span class="material-icons" id="open">menu</span>
    </div>
  </div>

  <div class="pulldown-content">
    <ul>
      <li><%= link_to "チャット作成", new_post_path, class: "pulldown-menu" %></li>
      <li><%= link_to "質問投稿", "#", class: "pulldown-menu" %></li>
      <li><%= link_to 'マイページ', "#", class: "pulldown-menu" %></li>
      <li><%= link_to 'ログアウト', "#", method: :delete, class: "pulldown-menu" %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class: "pulldown-menu" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "pulldown-menu" %></li>
    </ul>
  </div>
</header>
