<header>
  <div class=container>
    <div class="nav-left">
      <div class="title">
        <%= link_to "ジャンク広場", root_path, class: "title-logo" %>
      </div>
      <div class="search">
        <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </div>
    </div>

    <div class="nav-right">
      <ul class="nav-list">
        <li class="nav-item"><%= link_to "記事フィード", "#", class: "article-btn" %></li>
        <li class="nav-item"><%= link_to "質問フィード", "#", class: "question-btn" %></li>
        <li class="nav-item"><%= link_to 'マイページ', "#", class: "user-nickname" %></li>
        <li class="nav-item"><%= link_to 'ログアウト', "#", method: :delete, class: "logout" %></li>
        <li class="nav-item"><%= link_to 'ログイン', "#", class: "login" %></li>
        <li class="nav-item"><%= link_to '新規登録', "#", class: "sign-up" %></li>
      </ul>
    </div>

    <div class="sp-menu">
      <span class="material-icons" id="open">menu</span>
    </div>
  </div>
</header>