<header>
  <div class="header-content">

    <div class="nav-left">
    
      <div class="header-title">
        <%= link_to "ジャンク広場", root_path, class: "title-logo" %>
      </div>

      <div class="search">
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f| %>
          <%= f.text_field :keyword, placeholder: "キーワードから探す", class: "input-box" %>
          <button class="search-button">
            <%= f.submit class: "search-submit" %>
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        <% end %>
      </div>

    </div>

    <div class="nav-right">
      <ul class="nav-list-wide">
        <% if user_signed_in? %>
          <li><%= link_to "チャット作成", new_post_path, class: "nav-item" %></li>
          <li><%= link_to 'マイページ', user_path(current_user.id), class: "nav-item" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-item" %></li>
        <% else %>
          <li><%= link_to "チャット作成", new_post_path, class: "nav-item" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "nav-item" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "nav-item" %></li>
        <% end %>
      </ul>
    </div>

    <div class="sp-menu">
      <span class="material-icons" id="open">menu</span>
    </div>
  </div>

  <div class="pulldown-content">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "チャット作成", new_post_path, class: "pulldown-menu" %></li>
        <li><%= link_to 'マイページ', user_path(current_user.id), class: "pulldown-menu" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "pulldown-menu" %></li>
      <% else %>
        <li><%= link_to "チャット作成", new_post_path, class: "pulldown-menu" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "pulldown-menu" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "pulldown-menu" %></li>
      <% end %>
    </ul>
  </div>
</header>
