<li class="list">
  <div class="list-header">
    <div class="create-date">
      2020年12月5日
      <%# <%= posts.created_at %>
    </div>
  </div>
  <div class="list-main">
    <%= link_to "自作PC紹介", messages_path, class:"link" %>
    <%# <%= link_to posts.title, post_path(post.id), method: :get %>
  </div>
  <div class="list-footer">
    タグ:
    <%= link_to "DELL", "#", class:"tag" %>
    <%= link_to "ノートPC", "#", class:"tag" %>
    <%= link_to "1万円以内", "#", class:"tag" %>
    <%# <%= link_to tags.tag_name %>
  </div>
</li>

<li class="list">
  <div class="list-header">
    <div class="create-date">
      2020年12月5日
      <%# <%= posts.created_at %>
    </div>
  </div>
  <div class="list-main">
    <%= link_to "自作PC紹介", messages_path, class:"link" %>
    <%# <%= link_to posts.title, post_path(post.id), method: :get %>
  </div>
  <div class="list-footer">
    タグ:
    <%= link_to "DELL", "#", class:"tag" %>
    <%= link_to "ノートPC", "#", class:"tag" %>
    <%= link_to "1万円以内", "#", class:"tag" %>
    <%# <%= link_to tags.tag_name %>
  </div>
</li>
